:root {
  --shadow: 0 1px 5px rgba(14, 14, 14, 0.8);
}
 .wrapper{
    background: #303030;
} 
img {
  max-width: 100%;
  box-shadow: var(--shadow);
}
button {
  background: #303030;
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background: #212121;
  color: #ecf0f1;
  box-shadow: var(--shadow);
}
header h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}
.totlbody {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "cards cards search";
}
.cards {
  display: grid;
  grid-gap: 20px;
  grid-area: cards;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
  background: #424242;
  color: #ecf0f1;
  padding: 0.3rem 1rem;
  box-shadow: var(--shadow);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card:hover {
  background: #212121;
}
.search {
  display: grid;
  grid-area: search;
  background: #303030
}

.inputs {
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: 2rem;
  background: #303030;
}
.inputs input {
  box-shadow: var(--shadow);
  background: #424242;
  border: none;
  padding: 5px;
  color: #ecf0f1;
  width: 98%;
}
@media (max-width: 700px) {
  .totlbody {
    grid-template-areas:
      "cards"
      "cards"
      "search";
  }
}
